<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List School</title>
</head>
<body>
<h1>List School</h1>
<p>
    <a href="/students"> List Students </a>
</p>
<p>
    <a href="/create-school"> Create School </a>
</p>
<fieldset>
    <legend> List School</legend>
    <table border="1">
        <tr>
            <th> School</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        <th:block th:each="school : ${schools}">
            <tr>
                <td th:text="${school.name}"></td>
                <td><a th:href="@{/edit-school/__${school.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-school/__${school.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>

</fieldset>
</body>
</html>